<!-- Article bottom -->

<section class="Article-bottom">
    <div class="byline-entry">
        <img class="byline-image" src="images/haley.png" alt="FPO">
        <div class="row">
            <div class="byline">
                Haley Nahman
            </div>
            <div class="blurb">
                Haley swam with great white sharks when she was just 5 years old and has never had a slice of pizza.
            </div>
        </div>
    </div>
    <div class="byline-entry">
        <img class="byline-image" src="images/leandra.png" alt="FPO">
        <div class="row">
            <div class="byline">
                Leandra Medine
            </div>
            <div class="blurb">
                Leandra is an award-winning journalist and Haley appeared in an episode of the hit show, Entourage.
            </div>
        </div>
    </div>
</section>
