<!-- Collaboration footer -->

<div class="Collaboration-footer">
    {% include 'modules/collaboration-header.twig' %}
    <div class="copy">
        *Join <a href="#">Zappos Rewards</a> and get access to free expedited shipping, points for rewards, early access to sales and more. Existing customers joining Zappos Rewards by 11/30 will also get a $15 Rewards Code.
    </div>
</div>
