<!-- Inline shopping item -->

<div class="inline-shopping-item">
    <div class="price">
        $ {{price}}
    </div>
    <img src="{{imgSrc}}" alt="FPO">
    <div class="brand">
        {{brand}}
    </div>
</div>
