<!-- Inline Video -->

<section class="Inline-video">
    <div class="poster">
        <div class="controls">
            <svg id="play-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49.66 49.66">
              <title>play-button</title>
              <g id="Article---Podcast">
                <g id="mr-article-desktop_Feature-Portrait-Copy" data-name="mr-article-desktop Feature-Portrait-Copy">
                  <g id="header-lockup---left">
                    <g id="playbutton">
                      <g id="Group">
                        <circle id="Oval" class="cls-1" cx="24.83" cy="24.83" r="24.83"/>
                        <polygon id="Triangle" class="cls-2" points="31.24 24.83 23.23 32.04 23.23 17.62 31.24 24.83"/>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="label">
                Play the Video
            </div>
        </div>
    </div>
    <iframe src="https://www.youtube.com/embed/_KtptTP-rgI?list=PLW1pfvN0FEfl2hhgAA-CzX9hSRTbwOVl5?&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
</section>
