<!-- Lookbook modal -->

<section class="Lookbook-modal">
    <div class="title-bar">
        <div class="lookbook-logo">
            <img src="images/viewfinder.png">
            <div class="title">
                The Lookbook
            </div>
        </div>
        <div class="controls">
            <div class="shuffle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 16">
                  <path d="M14.34 4.9h1.23v2L19 3.4 15.56 0v2.25h-1.22c-3.5 0-5.5 2.58-7.24 4.85-1.57 2-2.93 4-5.1 4H0v2.64h2c3.5 0 5.5-2.74 7.24-5 1.55-2.1 2.9-3.85 5.1-3.85zm-9.2 1.5l.45-.6c.36-.47.75-1 1.18-1.5A6.83 6.83 0 0 0 2 2.3H0v2.64h2A4.3 4.3 0 0 1 5.14 6.4zm10.42 4.7h-1.22A4.55 4.55 0 0 1 11 9.46l-.3.38c-.4.55-.86 1.13-1.36 1.7a6.93 6.93 0 0 0 5 2.2h1.23V16L19 12.6l-3.44-3.46z" class="cls-1"/>
                </svg>
                <span>
                    On
                </span>
            </div>
        </div>
        <div class="article">
            from <a href="#">How to Wear Knee-Length Skirts When You Hate Knee-Length Skirts</a>
        </div>
        <div class="timestamp">
            Jan 2015
        </div>
        <div class="x-close">
            <svg id="x-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.85 72.85">
                <title>X Icon</title>
                <polygon class="cls-1" points="11.28 0 0.01 11.27 50.31 61.57 61.57 72.85 72.79 61.62 72.74 61.57 72.79 61.51 11.28 0"/>
                <polygon class="cls-1" points="72.85 11.28 61.58 0.01 11.28 50.31 0 61.57 11.23 72.79 11.28 72.74 11.33 72.79 72.85 11.28"/>
            </svg>
        </div>
    </div>
    <div class="content">
        <div class="arrow left-arrow">
            <svg width="17px" height="24px" viewBox="0 0 17 24" version="1.1">
                <path class="cls-1" fill="none" d="M3.5,14.7C4.3,15.5,5,16.3,5.8,17c0.3,0.3,0.6,0.6,0.9,0.9c0,0.1,0.1,0.1,0.1,0.1
                c0.8,0.6,1.4,1.4,2.1,2.1c0.4,0.4,0.8,0.7,1.2,1.1c0.4,0.4,0.8,0.9,1.2,1.3c0.2,0.2,0.3,0.4,0.5,0.6c0.2,0.2,0.5,0.2,0.8-0.1
                c0.6-0.6,1.1-1.1,1.7-1.7c0.4-0.4,0.9-0.9,1.4-1.3c0.2-0.2,0.2-0.5,0-0.7c-0.4-0.3-0.8-0.7-1.1-1.1c-1-1-2-2-3-3
                c-0.7-0.7-1.4-1.4-2.2-2c-0.5-0.4-0.8-0.8-1.3-1.2C8,12,8,11.9,8.1,11.8c0.5-0.5,0.8-1,1.3-1.5c0.5-0.5,1.1-0.9,1.6-1.4
                c1.6-1.4,3-3,4.5-4.4C15.8,4.3,15.9,4.2,16,4c0.1-0.2,0.2-0.5,0-0.7c-0.7-0.6-1.2-1.5-1.9-2.1c-0.4-0.4-0.8-0.7-1.2-1.1
                c-0.1-0.1-0.3-0.2-0.5,0c-0.3,0.2-0.5,0.4-0.7,0.7c0,0.1-0.1,0.1-0.2,0.1c-0.5,0.4-1,0.8-1.3,1.4c-0.1,0.2-0.3,0.3-0.5,0.5
                C9.4,2.9,9.3,3.1,9.1,3.3C8.8,3.5,8.5,3.8,8.2,4C7.8,4.3,7.6,4.7,7.2,5C7.2,5,7.1,5.1,7.1,5.1C6.8,5.3,6.5,5.5,6.4,5.8
                C6.2,6.1,5.9,6.2,5.6,6.4C5.5,6.6,5.4,6.7,5.3,6.9C4.7,7.7,3.9,8.4,3.2,9.1C2.4,9.8,1.7,10.5,1,11.3c-0.3,0.3-0.3,0.6,0,0.9
                c0.5,0.6,1.1,1.1,1.7,1.7C2.9,14.2,3.2,14.4,3.5,14.7L3.5,14.7"/>
            </svg>
        </div>
        <div class="image">
            <figure style="background-image: url('images/lookbook-full1.jpg')"></figure>
        </div>
        <div class="arrow right-arrow">
            <svg width="17px" height="24px" viewBox="0 0 17 24" version="1.1">
                <path class="cls-1" fill="none" d="M3.5,14.7C4.3,15.5,5,16.3,5.8,17c0.3,0.3,0.6,0.6,0.9,0.9c0,0.1,0.1,0.1,0.1,0.1
                c0.8,0.6,1.4,1.4,2.1,2.1c0.4,0.4,0.8,0.7,1.2,1.1c0.4,0.4,0.8,0.9,1.2,1.3c0.2,0.2,0.3,0.4,0.5,0.6c0.2,0.2,0.5,0.2,0.8-0.1
                c0.6-0.6,1.1-1.1,1.7-1.7c0.4-0.4,0.9-0.9,1.4-1.3c0.2-0.2,0.2-0.5,0-0.7c-0.4-0.3-0.8-0.7-1.1-1.1c-1-1-2-2-3-3
                c-0.7-0.7-1.4-1.4-2.2-2c-0.5-0.4-0.8-0.8-1.3-1.2C8,12,8,11.9,8.1,11.8c0.5-0.5,0.8-1,1.3-1.5c0.5-0.5,1.1-0.9,1.6-1.4
                c1.6-1.4,3-3,4.5-4.4C15.8,4.3,15.9,4.2,16,4c0.1-0.2,0.2-0.5,0-0.7c-0.7-0.6-1.2-1.5-1.9-2.1c-0.4-0.4-0.8-0.7-1.2-1.1
                c-0.1-0.1-0.3-0.2-0.5,0c-0.3,0.2-0.5,0.4-0.7,0.7c0,0.1-0.1,0.1-0.2,0.1c-0.5,0.4-1,0.8-1.3,1.4c-0.1,0.2-0.3,0.3-0.5,0.5
                C9.4,2.9,9.3,3.1,9.1,3.3C8.8,3.5,8.5,3.8,8.2,4C7.8,4.3,7.6,4.7,7.2,5C7.2,5,7.1,5.1,7.1,5.1C6.8,5.3,6.5,5.5,6.4,5.8
                C6.2,6.1,5.9,6.2,5.6,6.4C5.5,6.6,5.4,6.7,5.3,6.9C4.7,7.7,3.9,8.4,3.2,9.1C2.4,9.8,1.7,10.5,1,11.3c-0.3,0.3-0.3,0.6,0,0.9
                c0.5,0.6,1.1,1.1,1.7,1.7C2.9,14.2,3.2,14.4,3.5,14.7L3.5,14.7"/>
            </svg>
        </div>
        <div class="pinterest">
            <img src="images/pinterest-gold.png" alt="FPO">
        </div>
        <div class="lookbook-caret-mobile">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 7">
              <path d="M4.08 1.24C3.7 1.6 3.33 2 3 2.34a3.15 3.15 0 0 1-.43.38l-.07.06a11.48 11.48 0 0 1-1 1l-.52.56a6.57 6.57 0 0 1-.62.55 2.4 2.4 0 0 0-.26.23.23.23 0 0 0 0 .34l.8.77.62.6a.23.23 0 0 0 .34 0 5.18 5.18 0 0 1 .5-.5c.48-.47 1-.92 1.44-1.4a13.5 13.5 0 0 0 1-1c.17-.2.4-.37.56-.58h.1c.23.22.5.37.7.6s.43.5.66.74c.66.72 1.4 1.37 2.08 2.06a1.2 1.2 0 0 0 .25.2c.1.05.22.1.33 0 .3-.35.7-.58 1-.9s.33-.37.5-.54a.15.15 0 0 0 0-.2 1.06 1.06 0 0 0-.33-.32.28.28 0 0 1-.07-.07 2.1 2.1 0 0 0-.66-.6.7.7 0 0 1-.2-.23c-.1-.1-.2-.16-.28-.26l-.35-.42-.45-.44a.34.34 0 0 1-.06-.07.88.88 0 0 0-.33-.3c-.13-.1-.2-.24-.3-.34s-.14-.16-.2-.26a7.52 7.52 0 0 1-1-.95l-1-1a.28.28 0 0 0-.42 0c-.35.28-.62.55-.9.8l-.38.4" class="cls-1"/>
            </svg>
        </div>
    </div>
    <div class="footer-bar">
        <div class="footer-defaults">
            <div class="article">
                from <a href="#">How to Wear Knee-Length Skirts When You Hate Knee-Length Skirts</a>
            </div>
            <div class="title">
                My hands were out in this photo, which is rare.
            </div>
            <div class="shopping-links divider">
                <a href="#">Ellery jacket</a>, <a href="#">Rosie Assoulin T-shirt</a>, <a href="#">Golden Goose sneakers</a>, <a href="#">Warby Parker sunglasses</a>
            </div>
            <div class="lookbook-caret">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 7">
                  <path d="M4.08 1.24C3.7 1.6 3.33 2 3 2.34a3.15 3.15 0 0 1-.43.38l-.07.06a11.48 11.48 0 0 1-1 1l-.52.56a6.57 6.57 0 0 1-.62.55 2.4 2.4 0 0 0-.26.23.23.23 0 0 0 0 .34l.8.77.62.6a.23.23 0 0 0 .34 0 5.18 5.18 0 0 1 .5-.5c.48-.47 1-.92 1.44-1.4a13.5 13.5 0 0 0 1-1c.17-.2.4-.37.56-.58h.1c.23.22.5.37.7.6s.43.5.66.74c.66.72 1.4 1.37 2.08 2.06a1.2 1.2 0 0 0 .25.2c.1.05.22.1.33 0 .3-.35.7-.58 1-.9s.33-.37.5-.54a.15.15 0 0 0 0-.2 1.06 1.06 0 0 0-.33-.32.28.28 0 0 1-.07-.07 2.1 2.1 0 0 0-.66-.6.7.7 0 0 1-.2-.23c-.1-.1-.2-.16-.28-.26l-.35-.42-.45-.44a.34.34 0 0 1-.06-.07.88.88 0 0 0-.33-.3c-.13-.1-.2-.24-.3-.34s-.14-.16-.2-.26a7.52 7.52 0 0 1-1-.95l-1-1a.28.28 0 0 0-.42 0c-.35.28-.62.55-.9.8l-.38.4" class="cls-1"/>
                </svg>
            </div>
        </div>
        <div class="credits">
            <i>Monocycle is edited by</i> Nicholas Quazzy Alexander, <i>Logo illustration by</i> Kelly Shami, <i>Photo by</i> David Lees via Getty Images.
        </div>
    </div>
</section>
