<!-- Lookbook module -->

<section class="Lookbook-module">
    <img class="image" src="images/lookbook1.png">
    <img class="image" src="images/lookbook2.png">
    <img class="image" src="images/lookbook1.png">
    <img class="image" src="images/lookbook2.png">
    <img class="image" src="images/lookbook1.png">
    <img class="image" src="images/lookbook2.png">
    <div class="lookbook-logo">
        <img src="images/viewfinder.png">
        <div class="the-lookbook">
            Lookbook
        </div>
        <div class="sub">
            An endlessly updated visual slideshow of every Man Repeller fashion shoot
        </div>
    </div>
    <img class="image" src="images/lookbook3.png">
    <img class="image" src="images/lookbook4.png">
    <img class="image" src="images/lookbook3.png">
    <img class="image" src="images/lookbook4.png">
    <img class="image" src="images/lookbook3.png">
    <img class="image" src="images/lookbook4.png">
</section>
