<!-- Lookbook -->

<section class="Lookbook left">
    <div class="frame one">
        <img src="{{imgSrc1}}" alt="Lookbook 1">
    </div>
    <div class="frame title">
        <div class="copy">
            <div class="flair">
                <img src="images/viewfinder.png" alt="Viewfinder">
            </div>
            <div class="headline">
                The<br>
                Lookbook
            </div>
            <div class="sub-header">
                An endlessly updated visual slideshow of every Man Repeller fashion shoot
            </div>
        </div>
    </div>
    <div class="frame two">
        <img src="{{imgSrc2}}" alt="Lookbook 2">
    </div>
    <div class="frame three">
        <img src="{{imgSrc3}}" alt="Lookbook 3">
    </div>
</section>
