<!-- Manstagram module -->

<section class="Manstagram-module">
    <div class="manstagram-logo">
        <img src="images/manstagram.png">
    </div>
    <div class="image-wrapper">
        <img src="images/manstagram1.png">
        <img src="images/manstagram2.png">
        <img src="images/manstagram3.png">
        <img src="images/manstagram4.png">
        <img src="images/manstagram1.png">
        <img src="images/manstagram2.png">
        <img src="images/manstagram3.png">
        <img src="images/manstagram4.png">
        <img src="images/manstagram1.png">
        <img src="images/manstagram2.png">
        <img src="images/manstagram3.png">
        <img src="images/manstagram4.png">
    </div>
</section>
