<!-- Mobile menu -->

<div class="mobile-menu">
    <div class="search-icon">
        <svg id="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 222.3 232.6" width="222.3" height="232.6">
            <path class="cls-1" d="M222.3 213.5L177 168.2c15.8-17.9 25.4-41.3 25.4-67C202.4 45.4 157 0 101.2 0S0 45.4 0 101.2C0 157 45.4 202.4 101.2 202.4c20.4 0 39.4-6.1 55.3-16.5l46.7 46.7 19.1-19.1zM27 101.2C27 60.3 60.3 27 101.2 27s74.2 33.3 74.2 74.2-33.3 74.2-74.2 74.2S27 142.1 27 101.2z" />
        </svg>
    </div>
    <div class="x-icon">
        <svg id="x-icon" viewBox="0 0 72.85 72.85" width="100%" height="100%">
            <title>X Icon</title>
            <path class="cls-1" d="M11.28 0L.01 11.27l50.3 50.3 11.26 11.28 11.22-11.23-.05-.05.05-.06L11.28 0z"></path>
            <path class="cls-1" d="M72.85 11.28L61.58.01l-50.3 50.3L0 61.57l11.23 11.22.05-.05.05.05 61.52-61.51z"></path>
        </svg>
    </div>
    <div class="inner-navs">

        <ul class="cat-nav">
            <li>
                <div class="icons">
                    <img src="images/bird-empty.png">
                </div>

                <a href="#">Fashion</a>
            </li>
            <li>
                <div class="icons">
                    <img src="images/trophy-empty.png">
                </div>
                <a href="#">Issues</a>
            </li>
            <li>
                <div class="icons">
                    <img src="images/lightning-empty.png">
                </div>
                <a href="#">$hop</a>
            </li>
            <li class="lookbook-trigger">
                <div class="icons">
                    <img src="images/viewfinder-empty.png">
                </div>

                <a href="#">Lookbook</a>
            </li>
            <li class="mrtreats">
                <a href="#">
                    <img src="images/hash.png">
                    MRTreats
                </a>
            </li>
        </ul>

        <div class="what-is-man-repeller">
            <a href="#">What is Man Repeller?</a>
        </div>

        <ul class="social-nav">
            <li>
                <a href="#">
                    <img src="images/facebook-white.png" alt="FPO">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/twitter-white.png" alt="FPO">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/instagram-white.png" alt="FPO">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/flipboard-white.png" alt="FPO">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/pinterest-white.png" alt="FPO">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/snapchat-white.png" alt="FPO">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/blogger-white.png" alt="FPO">
                </a>
            </li>
        </ul>

        <div class="monthly-theme">
            <img src="images/key.png" alt="FPO">
            <span>Commitment Month!</span>
        </div>

    </div>
</div>
