<!-- More button -->

<section class="More-button {{class}}">
    <div class="button">
        More
    </div>
    <div class="hands">
        <div class="hand">
            <img src="images/hand.png" alt="Hand icon">
        </div>
        <div class="hand">
            <img src="images/hand.png" alt="Hand icon">
        </div>
    </div>
</section>
