<!-- Newsletter -->

<section class="Newsletter left">
    <div class="flair">
        <img src="{{flairSrc}}" alt="Flair">
    </div>
    <div class="copy">
        GIVING US YOUR EMAIL ADDRESS IS THE COOLEST!
        <span>#NoSpam #Vegetarian</span>
    </div>
    <div class="sign-up">
        <input type="text" name="email" placeholder="example@email.com">
        <button class="button">subscribe</button>
    </div>
</section>
