<!-- Notification -->

<section class="Notification">
    {# <img src="images/notification.png"> #}
    <div class="icon">
        <img src="images/mouth.png" alt="FPO">
    </div>
    <div class="meta">
        <strong>Mariana</strong> <em>replied to your comment on</em> <a href="#">Intersexism Finally Has A Boldface Advocate: Hanne Gaby Odiele</a>
    </div>
    <div class="x-close">
        <img src="images/x-circle.png" alt="FPO">
    </div>
</section>
