<!-- Paper doll -->

<section class="Paper-doll">
    <div class="paper-doll1">
        <img src="images/paper-doll1.png" alt="FPO">
    </div>
    <div class="paper-doll2">
        <img src="images/paper-dolls2.png" alt="FPO">
    </div>
</section>
