<!-- PDF -->

<div class="Pdf-wrapper">
    <section class="Pdf">
        <img class="left-flair" src="{{imgSrc}}" alt="FPO">
        <div class="meta">
            <div class="headline">
                {{headline|raw}}
            </div>
            <a href="#">{{linkCopy}}</a>
        </div>
        <img class="right-flair" src="{{imgSrc}}" alt="FPO">
    </section>
</div>

