<!-- Podcast bar -->

<section class="Podcast-bar">
    <div class="wrapper">
        <div class="meta">
            <div class="play-icon">
                <img src="images/pause-icon.png">
            </div>
            <div class="episode">
                Monocycle: Episode 47
            </div>
            <div class="title">
                The Pursuit of More Than Cool
            </div>
            <div class="share-icons">
                <img src="images/share/facebook-white.png">
                <img src="images/share/twitter-white.png">
            </div>
        </div>
        <div class="controls">
            <div class="volume">
                <img src="images/volume.png" alt="FPO">
                <div class="volume-bar">
                </div>
            </div>
            <div class="info">
                <div class="time">
                    00:46 / 8:58
                </div>
                <div class="via">
                    via SoundCloud
                </div>
            </div>
        </div>
    </div>
</section>
