<!-- Popular Article -->

<section class="Popular-article">
    <img src="{{imgSrc}}" alt="FPO Shop image">
    <div class="meta">
        <div class="brand">
            {{brand}}
        </div>
        <div class="price">
            {{price}}
        </div>
    </div>
</section>
