<!-- Share icons -->

<div class="Share-icons {{class}} {{ hasCommentsCount ? "commentsCycle" }}">
    {% if hasTitle %}
        <span class="title">
            {{title}}
        </span>
    {% endif %}
	<a href="#"><img src="images/share/facebook-color.png" alt="FPO"></a>
	{# <a href="#"><img src="images/share/instagram-color.png" alt="FPO"></a> #}
	<a href="#"><img src="images/share/twitter-color.png" alt="FPO"></a>
	<a href="#"><img src="images/share/pinterest-color.png" alt="FPO"></a>
    {% if hasCommentsCount %}
        <span class="commentsCount" mode="hidden">
        	<a href="#"><img src="images/mouth-color.jpg" alt="FPO"></a>
            <ul class="commentsAlert">
                <li>.</li>
                <li>.</li>
                <li>.</li>
            </ul>
            <span class="commentsNumber">23</span>
        </span>
    {% endif %}
</div>
