<!-- Side Share -->

<section class="Side-share">
    <div class="ephemera">
        <img src="images/shareplane.png" alt="FPO">
    </div>
    <div class="meta">
        <div class="share-icons">
            <a href="#">
                <img src="images/share/facebook-color.png" alt="FPO">
            </a>
            <a href="#">
                <img src="images/share/twitter-color.png" alt="FPO">
            </a>
            <a href="#">
                <img src="images/share/pinterest-color.png" alt="FPO">
            </a>
        </div>
    </div>
</section>
