$black: #000;
$white: #FFF;
$off-white: #FAFAFA;
$grey: #757575;
$grey-light: #E0E0E0;
$grey-dark: #424242;
$grey18: #181818;
$hcs-blue: #00D8E8;

$error-red: #F04124;
$warning-yellow: #E99002;
$success-green: #43AC6A;

// Potential colors
$green: #1A966C;
$purple: #9982AE;
$coral: #EAAF96;
$pink: #C5397D;
$seafoam: #4FA59B;
$gold: #D2A54C;
$royal: #142770;
$border-black: #232B2B;
$border-grey: #F8FAFA;
$border-divider-grey: #4d4d4d;

// System
$white: #fff;
$light-white: #F8FAFA;
$fog: #ebefef;
$fog: #e1e6e6;
$dark-green: #232b2b;
// $dark-green: #000;
$black: #000;
$gold: #eab752;
$grey: #919595;

// Decor
$teal: #4fa59b;
$navy: #142770;
$rose: #c5397d;
$peach: #eaaf96;
$purple: #9982ae;
$fern: #1a966c;

// Social brand colors
$facebook: #3b5998;
$twitter: #55acee;
$instagram: #e95950;
$pinterest: #cb2027;
$snapchat: #fffc00;

// New Decor palette?
$blue: #15BCFF;
$sky: #15BCFF;
$blush: #fb8fad;
$grass: #92c573;
$ruby: #e13131;
$navy: #142770;

// Tints
$sky-tint: #f5fcff;
$blush-tint: #fefafb;

//
$blue: $sky;

// AR: More shit
$new-gold: #EAB953;
