// _feed-article.scss

.Feed-article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 0 1rem 0;
    position: relative;
    border-right: 0.2rem solid $fog;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-bottom: 0.2rem solid $fog;
        z-index: -1;
    }

    .thumbnail {
        width: 100%;
        max-width: 30rem;
        overflow: hidden;
        transition: max-width 0.3s;
        //
        max-width: 25rem;
        width: 33%;

        img {
            float: left;
        }
    }

    .copy {
        width: 100%;
        max-width: calc(100% - 34rem); // 30rem thumbnail + 4rem padding
        margin: 0 2rem;
        //
        min-width: 66%;
        max-width: calc(100% - 25rem);
        margin: 0;
        padding: 0 2rem;

        .flair {
            margin: 0 0 1rem 0.5rem;

            img {
                // max-height: 4rem;
                max-width: 2.5rem;
                margin: 0 1rem 0 0;
            }
        }

        .headline {
            @include chronicle-semi;
            //font-size: 4.2rem;
            //
            font-size: $home-headline-large;
            line-height: 1;
            //
            // font-size: calc(1rem + 1.7vw);
            // font-size: calc(1rem + 2.5vw);
            font-size: calc(0.5rem + 2.4vw); // 36px
            transition: color 0.3s;

            &:hover {
                cursor: pointer;
            }
        }

        .byline {
            @include chronicle-semi;
            font-size: 1.8rem;
            margin: 1rem 0 0 0;

            &:before {
                content: "by";
                @include chronicle-semi-italic();
            }
        }

        .dek {
            @include knockout-30;
            // font-size: 2.4rem;
            line-height: 0.8;
            margin: 0.7rem 0 2rem;
            padding: 0.3rem 0 0 0;
            //
            // display: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            // font-size: calc(1.5rem + 0.65vw);
            font-size: calc(1.5rem + 0.35vw);
        }
    }

    &.large {

        .thumbnail {
            max-width: 100%;

            img {
            }
        }

        .copy {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            width: 100%;
            padding: 2rem;
        }
    }
}

@media only screen and (min-width: $max-width) {

    .Feed-article {

        .copy {

            .headline {
                font-size: 4.2rem;
                //
                font-size: 3.6rem;
            }

            .dek {
                font-size: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {

    .Feed-article {

        .copy {
            width: calc(100% - 20rem);

            .headline {
                font-size: $home-headline-small;
                // font-size: calc(1rem + 2.5vw);
            }
        }

        .thumbnail {
            min-width: 20rem;

            img {
            }
        }
    }
}

@media only screen and (max-width: 1023px) {

    .Feed-article {
        width: 100%;

        .copy {
            width: calc(66.666% - 0.3rem);

            .headline {
                font-size: calc(1rem + 2.5vw);
            }
        }

        .thumbnail {
            max-width: 33.333%;
        }

        &.adjacent {
            width: $leftrail-width;
        }
    }
}

@media only screen and (max-width: 767px) {

    .Main-content {

        .Feed-article {
            // width: calc(50% - 0.5rem);
            width: calc(50% - 0.55rem); //0.5rem for margin, 0.3 for inline-block
            @include inline-vertical;
            vertical-align: top;
            // margin: 0 0 1rem 0.5rem;
            padding: 0;
            // border-right: 0.5rem solid $white;
            // border-left: 0.5rem solid $white;
            min-height: 45rem;
            //
            border: none;
            // margin: 0 0 1rem 0.5rem;
            margin: 0 0.35rem 1rem 0;

            &:after {
                display: none;
            }

            .thumbnail {
                max-width: 100%;
                width: 100%;
                min-width: initial;
            }

            .copy {
                width: 100%;
                // padding: 2rem;
                padding: 1rem 0;
                max-width: initial;

                .flair {
                    display: none;
                }

                .headline {
                    font-size: 2rem;
                    line-height: 1.1;
                }

                .dek {
                    display: none;
                }

                .byline {
                    font-size: 1.6rem;
                    margin: 1rem 0 0 0;
                }
            }

            &:nth-of-type(2n) {
                // clear: left;
                // margin: 0 0.5rem 0 0;
                margin: 0 0 1rem 0.35rem;
                clear: left;
            }

            &.left {
                float: none;
            }

            &.adjacent {
                width: calc(50% - 0.3rem);
            }
        }
    }

    .Lookbook + .Main-content {

        .Feed-article {

            &:nth-of-type(2n) {
                // clear: left;
                // margin: 0 0.5rem 0 0;
                margin: 0 0 1rem 0.35rem;
                clear: right;
            }

            &:nth-of-type(2n + 1) {
                // clear: left;
                // margin: 0 0.5rem 0 0;
                margin: 0 0.35rem 1rem 0rem;
                clear: none;
            }
        }
    }
}

@media only screen and (max-width: 660px) {

    .Main-content {

        .Feed-article {
            min-height: 40rem;
        }
    }
}

@media only screen and (max-width: 600px) {

    .Main-content {

        .Feed-article {
            min-height: 37rem;
        }
    }
}

@media only screen and (max-width: 525px) {

    .Main-content {

        .Feed-article {
            min-height: 33rem;
        }
    }
}

@media only screen and (max-width: 480px) {

    .Main-content {

        .Feed-article {
            min-height: 30rem;
        }
    }
}

// @media only screen and (max-width: 400px) {

//     .Feed-article {
//         min-height: 36rem;
//     }
// }


//////////////////////////////////////////

$colors: $sky, $blush, $grass, $ruby, $navy;

@for $i from 1 through length($colors) {
    .Feed-article:nth-child(#{length($colors)}n+#{$i}) {

        .copy {

            .headline {

                &:hover {
                    color: nth($colors, $i);
                }
            }
        }
    }
}
