// _headline-stack.scss

$colors: $sky $blush $grass $navy;

.Headline-stack {
    @include chronicle-semi;
    text-align: center;
    min-width: 200px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1440px) {
        justify-content: center;
    }

    @media only screen and (max-width: 1023px) {
        padding: 0 50px 0 0;
    }

    @media only screen and (max-width: 766px) {
        padding: 0 50px;
        flex-grow: 1;
    }

    .headline-stack-header {
        text-align: center;
        width: 100%;
        margin: -0.6rem auto 0.8rem;
        @include knockout-50();
        font-size: 2.2rem;
        color: $black;
        text-transform: uppercase;
        margin: 0 0 1.6rem;

        img {
            display: inline-block;
            vertical-align: bottom;
            max-height: 4rem;
            width: auto;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0.5rem 0;
        }
    }

    a {
        font-size: 2.2rem;
        color: $dark-green;
        display: block;
        letter-spacing: 0.1px;
        padding: 10px 0 15px;
        &:first-child {
            padding-top: 0;
        }
        &:before {
            // AR: Kill the auto-underline in .Article anchors
            display: none;
        }
        &:after {
            content: "";
            display: block;
            margin: 10px auto 0;
            width: 20px;
            height: 3px;
            transform: skewX(-20deg);
        }
        @each $thisColor in $colors {
            $index: index($colors, $thisColor);
            &:nth-child(#{$index}n) {
                &:hover {
                    color: $thisColor;
                }
                &:after {
                    background: $thisColor;
                }
            }
        }
    }
}
