// _hero-header.scss

.Hero-header {
	width: 100%;
	display: flex;
	align-items: center;
    transition: padding 0.3s;
    margin-bottom: 5rem;
    padding: 1.4rem 7rem 0;

    @media only screen and (max-width: 767px) {
        padding: 1rem 0 0;
        flex-direction: column-reverse;
    }
}
