// _popular-articles.scss

.Shopping-module {
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 0 2rem;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background: $fog;
        z-index: -2;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0.2rem;
        background: $fog;
        z-index: -1;
    }

    .badge {
        position: absolute;
        top: 0;
        right: 0;

        img {

        }
    }

    .meta {
        margin: 5% 0 %5 5%;

        .title {
            @include knockout-50;
            font-size: 3rem;
            line-height: 1;
            text-transform: uppercase;
        }

        .button {
            margin-top: 2rem;
        }
    }

    .items-wrapper {
        display: flex;
        align-items: center;
        padding: 0 5%;
        margin: 2.5rem 0;

        .arrow {

            img {
                min-width: 1.7rem;
            }

            &.left {

            }

            &.right {
                transform: rotateY(180deg);
            }
        }

        .items {
            display: flex;
            align-items: center;

            .item {
                margin: 0 1vw;
                display: flex;
                flex-direction: column;

                img {
                    max-height: 80%;
                }

                .price {
                    @include knockout-50();
                    text-align: center;
                    font-size: 1.8rem;
                    margin: 2rem 0 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .Shopping-module {
        flex-direction: column;

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }

        .meta {
            max-width: 25rem;
            margin: 2rem 0 0 2rem;

            .button {
                position: absolute;
                bottom: 2rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .items-wrapper {
            margin: 2.5rem 0 0 0;
            margin-bottom: calc(2rem + 10%);
            justify-content: center;

            .item {

                &:nth-of-type(2) {
                    display: none;
                }

                &:nth-of-type(3) {
                    display: none;
                }
            }
        }
    }
}
