// _tags.scss

.Tags {
    @include knockout-30();
    color: $black;
    font-size: 2rem;
    position: relative;

    span {
        position: relative;
        transition: color 0.3s;
        text-transform: uppercase;
        @include knockout-50();

        &:hover {
            color: $gold;
            cursor: pointer;

            &:after {
                background: $black;
            }
        }
    }

    &:after {
        content: "";
        width: 100%;
        height: 0.1rem;
        position: absolute;
        bottom: 0.1rem;
        left: 0;
        background: $gold;
        transition: background 0.3s;
    }
}
