// _top-ad.scss

.Top-ad {
    background: $black;
    background: $white;
    text-align: center;
    padding: 1rem 0;

    img {
        max-width: 100%;
        margin: 0 auto -0.1rem;
    }
}

@media only screen and (max-width: 767px) {

    .Top-ad {
        display: none;
    }
}
