// Select (dropdown)
select {
    margin: 1rem 0;
    width: 100%;
    border: 0.2rem solid $dark-green;
    border-radius: $border-radius;
    // @include futura;
    @include knockout-50();

    font-size: 1.8rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    color: $dark-green;

    background: url(../images/caret-down.png) no-repeat calc(100% - 1.5rem) 50%;
    background-size: 1.2rem;

    padding: .9rem 1rem;
    // we don't want to cover the arrow
    padding-right: 3rem;
    // @include transition( none );

    // // safari only?
    // option {
    //   @include oswald-light;
    // }

    &:focus {
      border: .2rem solid $gold;
      outline: 0;
    }
}
