// Typography
.h1,
h1 {
    font-size: 6rem;
    font-weight: 400;
    margin: 20px 0;
}
.h2,
h2 {
    font-size: 5rem;
    font-weight: 400;
    margin: 20px 0;
}
.h3,
h3 {
    font-size: 4rem;
    font-weight: 400;
    margin: 20px 0;
}
.h4,
h4 {
    font-size: 3rem;
    font-weight: 400;
    margin: 20px 0;
}
.h5,
h5 {
    font-size: 2rem;
    font-weight: 400;
    margin: 20px 0;
}
.h6,
h6 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 20px 0;
}

p {
    @include chronicle-deck();
    font-size: 1.8rem;
    color: $dark-green;
    letter-spacing: 0.11px;
    line-height: 1.88;
    margin: 0 0 4rem;
}

.help-block {
    display: block;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: $grey;
}

// styleguide only
.alphanumerics {
    word-break: break-all;
    font-size: 3rem;
    font-weight: 400;
}
