<!-- Article card -->

<section class="Article-card">
    {% if isFeature %}
        <h1>
            Feature card
        </h1>
    {% else %}
        <h1>
            Article card
        </h1>
    {% endif %}
</section>
