<!-- Border Content -->

<section class="Border-content">
    <div class="border">
    </div>
    <div class="inner-content">
        <h1>
            test
        </h1>
        <h2>
            test
        </h2>
        <h3>
            test
        </h3>
        <h4>
            test
        </h4>
        <h5>
            test
        </h5>

    </div>
</section>
