<!-- Home Content -->

<section class="Home-content">
    {% include 'shared/_nav.twig' %}
    {% include 'pages/_featured-articles.twig' with
        {

        }
    %}
    {% include 'pages/_trending-articles.twig' with
        {

        }
    %}
    {% include 'pages/_ad.twig' with
        {
            isRight: true
        }
    %}
    {% include 'pages/_article-feed.twig' with
        {

        }
    %}
</section>
