// _article-landscape-text.scss

.Article-landscape-text {

    .Hero-copy {
        padding-left: calc(5rem + 5vw);
        padding-right: calc(5rem + 5vw);

        @media only screen and (max-width: 767px) {
            width: 100%;
            padding: 0 1rem;
        }
    }
}
