// _article-landscape-feature.scss

.Article-landscape-feature {

    background: rgba($blush, 0.02);

    .border {

        &:before {
            border-color: $blush;
        }
    }

    .border-accent {
        border-color: $grass;

        &:before {
            background: $grass;
        }

        &:after {
            background: $grass;
        }
    }

    .Paper-doll {

        &:before {
            background: $blush;
        }
    }

    .Hero-header {
        max-width: 100%;
        padding: 2rem 0 0;

        @media only screen and (max-width: 1279px) {
            padding: 2rem 7rem;
        }

        @media only screen and (max-width: 767px) {
            padding: 2rem 0;
        }
    }

    .Hero-copy {
        color: $white;
        background: $blush;
        margin: 0;
        padding: 5rem;

        .flair {
            margin: -7rem auto 3rem;
        }

        .meta {

            .date {
                color: $white;
                opacity: 1;
                border-color: $white;
            }
        }

        @media only screen and (max-width: 767px) {
            padding: 3rem 2rem;
        }
    }
}
