@charset "UTF-8";
// Importing normalize from node_modules, with auto init
@import "~normalize-scss/sass/normalize/_import-now";

@import "_setup/colors";
@import "_setup/variables";
@import "_setup/mixins";
@import "_setup/fonts";
@import "_setup/global";
@import "_setup/border-generator";
// @import "_setup/*.scss";

.icon-check {
    fill: white;
    width: 40px;
    height: 40px;
}

// @import "_blank";
@import "styleguide";
@import "table-of-contents";
@import "components";

@import "home";
@import "hero-content";
@import "main-content";
@import "_modules/delineator";
@import "left-rail";
@import "right-rail";

@import "_modules/top-ad";
@import "_modules/nav";
@import "_modules/paper-doll";
@import "_modules/featured-articles";
@import "_modules/featured-article";
@import "flag";
@import "_modules/shopping-module";
@import "_modules/popular-article";
@import "_modules/side-ad";
@import "_modules/feed-article";
@import "_modules/footer";
@import "_modules/portrait-feature";
@import "_modules/newsletter";
@import "_modules/more-button";
@import "_modules/featured-comment";
@import "_modules/large-ad";
@import "_modules/lookbook-module";
@import "_modules/manstagram-module";
@import "_modules/lookbook-modal";
@import "_modules/mobile-menu";

@import "article";
@import "article-landscape";
@import "article-landscape-text";
@import "article-landscape-feature";
@import "article-landscape-collaboration";
@import "article-landscape-sponsored";
@import "article-portrait-feature";
@import "article-podcast";
@import "article-slideshow";
@import "article-slideshow-inline";
@import "_modules/hero-header";
@import "_modules/hero-image";
@import "_modules/hero-copy";
@import "_modules/share-icons";
@import "_modules/article-copy";
@import "_modules/blockquote";
@import "_modules/article-bottom";
@import "_modules/pdf";
@import "_modules/fpo";
@import "_modules/tag-share";
@import "_modules/tags";
@import "_modules/inline-image";
@import "_modules/inline-slideshow";
@import "_modules/inline-video";
@import "_modules/endmark";
@import "_modules/list-header";
@import "_modules/inline-ephemera";
@import "_modules/side-share";
@import "_modules/collaboration-header";
@import "_modules/collaboration-footer";
@import "_modules/paragraph-break";
@import "_modules/podcast-bar";
@import "_modules/slideshow-modal";
@import "_modules/quotation";
@import "_modules/inline-shopping";
@import "_modules/headline-stack";
@import "_modules/podcast-mini";
@import "_modules/series-callout";
@import "_modules/notification";

@import "lookbook";
